:root {
    font-family: "UniversLTStd-Cn",Helvetica,Arial,sans-serif;
    color: #252525;
}

body {
    margin: 0;
    padding: 0;
    background: #f3f3e6;
}

/*// SLIDER //*/

.slider-section {
    width: 100%;
    overflow: hidden;
}

.slider {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slide {
    font-size: 0;
}

.slide-image {
    width: 100%;
    height: auto;
}

/*// HEADER //*/

header {
    width: 100%;
    overflow: hidden;
    background: white;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    padding: 17px 0;
}

.header-wrapper {
    display: flex;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    vertical-align: bottom;

}

.branding {
    font-family: "Plantin W01", georgia, serif;
    text-transform: uppercase;
    display: inline-block;
    line-height: 34px;
    font-size: 22px;
    vertical-align: baseline;
}

.menu {
    display: inline-block;
    flex-grow: 2;
    list-style: none;
    padding: 7px 0;
    margin: 0;
    text-align: right;
}

.menu li {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
}

.menu li:not(:last-child) {
    margin-right: 18px;
}

.menu li a {
    text-decoration: none;
    color: black;
}


.menu li a:hover,
.menu li a.active {
    color: #53adc7;
}

.menu li a.active {
    padding-bottom: 5px;
    border-bottom: 3px solid #53adc7;


}



/*// SIGN FORM //*/
.signup-section {
    background: #172838;
    color: white;
}

#signup {
    width: 570px;
    margin: 0 auto;
    padding: 0 0 15px;
}

#signup fieldset {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    vertical-align: baseline;
}

.signup--title {
    margin: 0;
    height: 78px;
    font-size: 31.5px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.5em;
}

.signup--email-container {
    display: inline-block;
    vertical-align: bottom;
    width: 66.5%;
}

.signup--email {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: none;
    color: white;
    border-bottom: 3.5px solid white;
    font-family: "UniversLTStd-Cn",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    height: 35px;
    font-size: 19px;
    outline: none;
}

.signup--email::placeholder {
    opacity: 1;
    color: white;
}

.signup--submit-container {
    display: inline-block;
    width: 31%;
    margin-left: 2.5%;
    vertical-align: bottom;
}

.signup--submit {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 48px;
    border: none;
    padding: 0;
    background: #53adc7;
    color: white;
    font-family: "UniversLTStd-Cn",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.signup--terms {
    font-size: 14px;
    line-height: 12px;
    margin: 4px 0 4px;
    min-height: 1.2em;
    overflow: hidden;
}

.signup--terms-hide-toggle {
    display: inline-block;
    margin: .3em 0;
}

.signup--terms-hide-toggle::before {
    content: 'terms';
    color: #8a8e94;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}

.signup--terms-hide-toggle:hover::before {
    text-decoration: underline;
}


#signup--terms-toggle:checked ~ .signup--terms .signup--terms-hide-toggle::before {
    content: 'hide';
}

.signup--terms-text {
    height: 0px;
    margin: 0;
    font-size: 11px;
    line-height: 1.38em;
    overflow: hidden;
    transition: height .2s ease;

}

#signup--terms-toggle:checked ~ .signup--terms .signup--terms-text {
    height: auto;
}

.signup--terms-text a {
    text-decoration: none;
    color: #8a8e94;
}

.signup--terms-text a:hover {
    text-decoration: uderline;
}






/*// MAIN //*/

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

