body {
    font-family: sans-serif;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header {
    height: 150px;
    border: 1px dotted lightgray;
    background: darkgray;
}

/*  MENU  */

.menu {
    margin-top: -40px;
    list-style: none;
    font-size: 0;
    padding: 0;
}

.menu li {
    box-sizing: border-box;
    display: inline-block;
    background: darkgray;
    padding: 10px 5px;
    color: white;
    height: 40px;
    text-align: center;
    min-width: 50px;
    font-size: 13px;
}

.menu li:hover {
    border-bottom: 2px solid gray;
}

.menu li:active {
    background: gray;
}

.menu a,
.menu a:link,
.menu a:visited {
    text-decoration: none;
    color: inherit;
}

/*  END OF MENU  */

/* SLIDER */

.slider {
    margin: 160px 0 0;
    padding: 0;
    height: 400px;
    list-style: none;
}

.slider li {
    display: none;
    margin: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider .active {
    display: block;
}

.slide1 {
    background-image: url(../img/slides/slide1.jpg);
}

.slide2 {
    background-image: url(../img/slides/slide2.jpg);
}

.slide3 {
    background-image: url(../img/slides/slide3.jpg);
}

/* END OF SLIDER */

/* INFO BLOCKS */
[class$="-block"] {
    width: 31%;
    background-color: #eee;
    border-radius: 7px;
    border-bottom: 1px solid gray;
    background-image: url('../img/pat1.png');
    background-size: 250px;
}

.info-block {
    display: inline-block;
    height: 200px;
}

.news-block {
    float: right;
    height: 400px;
}
/* END OF INFO BLOCKS */

.columns3 {
    text-align: justify;
    columns: 3;
}

.columns2 {
    columns: 2;
    text-align: justify;

}



/* FOOTER */



/* END OF FOOTER */