:root {
    font-family: trebuchet, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/*////////////
//  HEADER  //
////////////*/

/*//////////////
//  SECTIONS  //
//////////////*/

section {
    max-width: 100vw;
    width: 100%;
    height: 100vh;
}