:root {
    font-family: helvetica, sans-serif;
}

.flex-container {
    display: flex;
    background: #cc3;
    padding: 10px;
    margin-bottom: 10px;
}

.flex-container:nth-child(1) {
    justify-content: flex-start;
    align-items: stretch;
}


.flex-container:nth-child(2) {
    justify-content: flex-end;
    align-items: center;
}


.flex-container:nth-child(3) {
    justify-content: center;
    align-items: flex-end;
}


.flex-container:nth-child(4) {
    justify-content: space-around;
    align-items: flex-start;
}


.flex-container:nth-child(5) {
    justify-content: space-between;
    align-items: baseline;
}

.flex-container:nth-child(6) {
    justify-content: space-between;
    flex-direction: column;
    /*flex-direction: row | reverse | column | column-reverse*/

}

.flex-container:nth-child(7) {
    justify-content: space-between;
    align-items: baseline;
    width: 400px;
    flex-wrap: wrap /*wrap-reverse | nowrap*/;
}

.flex-container:nth-child(8) {
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap /*wrap-reverse*/;
    height: 300px;
    width: 400px;
    align-content: space-beetween /*flex-start | flex-end | center | space-around | */;
}


.flex-element {
    border: 1px dashed white;
    color: white;
    padding: .5em;
    background: darkgreen;
}

.flex-element:nth-child(1) {
    order: 1;

}

.flex-element:nth-child(2) {
    padding: 2em;
}

.flex-element:nth-child(4) {
    /*исключительное выравнивание*/
    align-self: center;
}
.flex-element:nth-child(5) {
    /*задание базовой ширины*/
    flex-basis: 500px;
    /*flex-grow: 3;*/
    flex-shrink: 2;

}