:root {
    font-family: helvetica, sans-serif;
}

.img {
    background-image: url('../img/rawsausage.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;

}

.wrapper.flex-container {
    display: flex;
}

.vertical {
    flex-direction: column;
}

.horizon {
    flex-direction: row;
}

.item-flex-container {
    flex-grow: 2;
    display: flex;
}

/* 2nd level containers */

.item23 {
    margin-right: .5em;
    display: flex;
    flex: 2;
}

.item13 {
    margin-left: .5em;
    display: flex;
    flex: 1;
}

/* 3rd & 4th level items/containers */

.item {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1em;
    margin: .5em;
}

.item:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5)
}


.item h2 {
    margin-top: 0;
    border-bottom: 2px solid black;
    padding-bottom: .5em;
    margin-bottom: 1em;
}

.item p {
    margin: 0;
    text-align: justify;
}

.img-text-container {
    display: flex;
}

.vertical > .img {
    flex-shrink: 1;
    flex: 1;
    width: auto;
    height: 100px;
    border-bottom: 2px solid black;
    padding-bottom: .5em;
    margin-bottom: 1em;
}

.vertical > .text {
    flex: 2;
    margin-top: .5em;
}

.horizon > .img {
    flex: 1;
    height: auto;
    width: 100px;
    border-right: 2px solid black;
    padding-right: .5em;
    margin-right: 1em;
}

.horizon > .text {
    flex: 2;
    margin-left: .5em;
}




